/*
 * Opaque `size` mixin
 *
 * Example
 *
 *  ```stylus
 *  .some-class
 *    size 50px 100%
 *  ```
 *
 *  ```css
 *  .some-class {
 *    width: 50px;
 *    height: 100%;
 *  }
 *
 *  ```stylus
 *  .some-class
 *    size 50px
 *  ```
 *
 *  ```css
 *  .some-class {
 *    width: 50px;
 *    height: 50px;
 *  }
 *  ```
 *
 * @mixin
 */

size()
  if length(arguments) == 1
    width arguments[0]
    height arguments[0]
  else
    width arguments[0]
    height arguments[1]
